.leaderboard__container {
    margin-bottom: 16px;
}

.grid__cell--leader {
    display: inline-block;
    vertical-align: top;
}

.leaderboard__row {

}

.leaderboard__row--numerical {
    text-align: right;
}

.leaderboard__row--name {
    text-align: left;
}