.App {
    font-family: sans-serif;
}

.App-header {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    color: #0e2f09;
    text-decoration: none;
    font-family: Impact, sans-serif;
    font-size: 40px;
    background-color: #4adb2a;
    box-shadow: 0 2px 5px #0e2f09;
}