.change-week {
    margin-left: 216px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}

.change-week__element {
    display: inline-block;
    text-align: center;
    height: 32px;
}

.change-week__element--week {
    width: 6em;
    font-weight: bold;
    vertical-align: top;
    padding-top: 4px;
    font-size: 24px;
    font-family: sans-serif;
}

.change-week__element--back {
    transform: rotate(180deg);
}