.weekly-view-app {
    margin: 32px 16px;
    white-space: nowrap;
}

.grid__cell {
    width: 96px;
    height: 20px;
    border-left: #fefffe 1px solid;
    border-bottom: #fefffe 1px solid;
    margin: 0 -1px -1px 0;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
}

.grid__column, .grid__cell--top-padding {
    display: inline-block;
    vertical-align: top;
}

.grid__cell--border {
    border-left: black 1px solid;
    border-bottom: black 1px solid;
}

.grid__cell--border-bottom {
    border-bottom: black 1px solid;
}

.grid__cell--border-left {
    border-left: black 1px solid;
}

.grid__cell--top-padding {
    border-left: white 1px solid;
    height: 0;
    vertical-align: bottom;
}

.grid__cell--right-padding {
    border-bottom: white 1px solid;
    width: 0;
}
